@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.container {
  @include flex(column);
  flex: 1;
}
button.steps {
  width: 100%;
  line-height: 1.5em;
  color: $gray-90;
  font-weight: $font-weight-semibold;
  border-radius: 0;
  justify-content: space-between;
  padding: 11px 16px;
  background-color: transparent;
  &--active {
    background-color: $gray-00;
  }
}

button.sub-steps {
  width: 100%;
  color: $gray-60;
  font-weight: $font-weight-semibold;
  justify-content: start;
  background-color: transparent;
  font-size: $font-size-medium;
  line-height: 1.5em;
  &--active {
    background-color: $gray-00;
  }
}
