@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.container {
  @include flex(column);
  flex: 1;

  button {
    border: none;
    &:hover {
      padding-left: 24px;
    }
  }
  button.steps {
    justify-content: space-between;
  }

  button.sub-steps {
    justify-content: start;
    color: $gray-60;
  }
}
