@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column);
  width: 228px;

  button {
    border: none;
    &:hover {
      padding-left: 24px;
    }
  }
  .steps,
  .sub-steps {
    &:disabled {
      background-color: transparent;
      border: none;
      color: $gray-60;
    }
  }
  button.steps {
    justify-content: space-between;
  }

  button.sub-steps {
    justify-content: start;
    color: $gray-60;
  }
}
