@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/markdown";

.modal {
  &-backdrop {
    @include modal-backdrop;
  }

  &-view {
    @include modal-view;
    width: 480px;
    max-height: 600px;
  }

  &-header {
    font-size: $font-size-user-auth-agreement-title;
    font-weight: $font-weight-semibold;
    display: flex;
    flex-direction: column;
    width: 100%;

    .mainTitle {
      margin-top: 32px;
    }
  }

  &-button {
    width: fit-content;
    margin-left: auto;
  }

  &-mainTitle {
    margin-top: 30px; // 32px
    margin-bottom: 30px;
  }

  &-main {
    overflow-y: auto;
    @include inner-content-scroll-bar;
  }

  &-content {
    white-space: pre-line;
    font-size: $font-size-user-auth-agreement-content;

    strong {
      font-weight: $font-weight-bold;
    }
    li {
      margin: 0;
      padding: 0;
    }
    ol {
      list-style: decimal;
      padding-left: 22px;
      display: block;

      p {
        margin-top: -($font-size-user-auth-agreement-content);
      }
    }
    ul {
      list-style: disc;
      padding-left: $font-size-user-auth-agreement-content;
    }
  }
}
