@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";

/* progress bar 시작 */
.progress-bar{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.step-container:not(:last-child) {
	position: relative;
	// width를 100%로 하기 위해 wrapping
	width: 100%;
}

.step-container:last-child > .step-bar {
	display: none;
}

@mixin base-step{
	@include flex(row, center);

	width: 30px;
	height: 30px;
	font-size: $font-size-medium;
	border-radius: 50%;
}

.current-step{
	@include base-step;
	background-color: $secondary;
	color: $primary;
}

.step{
	@include base-step;
	background-color: $gray-00;
	color: $gray-60;
}

.step-bar{
	position: absolute;
	top: 15px;
	left: 30px;
	width: calc(100% - 30px);
	height: 2px;
	background-color: $gray-20;
}
/* progress bar 끝 */
