@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column);
  width: 100%;
  padding: 1.6rem 0;
  gap: 2.4rem;
}

.title-area {
  button {
    margin-left: 1.6rem;
  }

  .question-title {
    font-size: 2.4rem;
    font-weight: $font-weight-semibold;
    padding: 1rem 1.6rem;
  }
}

.title-wrapper {
  display: flex;
  align-items: center;
  padding: 1rem 1.6rem;
}

.options-area {
  @include flex(column);
  gap: 0.8rem;
}
// TODO: progressbar와 겹침
@mixin base-step {
  @include flex(row, center);

  width: 2rem;
  height: 2rem;
  font-size: $font-size-medium;
  border-radius: 50%;
}

.tag-correct {
  @include base-step;
  background-color: $system-success;
}

.tag-incorrect {
  @include base-step;
  background-color: $system-danger;
}
