@import "../abstracts/variables";
@import "../abstracts/mixins";

.gnb {
  background-color: #f9f9f9;
  width: 100%;
  padding-bottom: 40px;
  min-height: 376px;
  position: absolute;
  top: 80px;
  left: 0;
  display: flex;
}
.gnb-inner-container {
  width: 100%;
  padding: 0 64px;
}

.category-list {
  @include flex(row);
  margin-bottom: 24px;
}

.category-title {
  cursor: pointer;
  font-size: $font-size-small;
  padding: 12px 10px;
  border-radius: 0;
  background-color: transparent;
  color: $gray-70;
  font-weight: bold;
  margin-right: 16px;
}
.hover {
  color: $gray-90;
  border-bottom: 2px solid black;
}
.category-item .sub-category-item h3 {
  align-items: center;
  padding: 12px 10px;
  font-size: $font-size-small;
}

.sub-category-item span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.sub-category-item h3 {
  @include flex(row);
  align-items: center;
  gap: 4px;
}

.sub-category-item button {
  padding: 10px;
  border: none;
  background: none;
  display: flex;
  margin-left: -24px;
}

.sub-category-detail-list {
  display: flex;
  flex-direction: column;
}

.sub-category-detail-item h4 {
  padding: 12px 10px;
}
a {
  color: $gray-90;
}

.sub-category-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.category-name {
  color: $gray-70;
  font-size: $font-size-small;
  font-weight: 700; // 임시
}
.sub-category-name {
  @extend .category-name;
  font-size: $font-size-small;
}
