@import "../abstracts/variables";
@import "../abstracts/mixins";

.gnb {
  background-color: #f9f9f9;
  width: 100%;
  padding-bottom: 40px;
  min-height: 376px;
  position: absolute;
  top: 80px; // header 크기만큼
  left: 0;
  display: flex;
}
.gnb-inner-container {
  width: 100%;
  padding: 0 64px;
}

.category-list {
  @include flex(row);
  margin-bottom: 24px;

  h2 {
    cursor: pointer;
    font-size: $font-size-xlarge;
    padding: 12px 10px;
    border-radius: 0;
    background-color: transparent;
    color: $gray-70;
    font-weight: 700;
    margin-right: 16px;

    &.hover {
      color: $gray-90;
      border-bottom: 2px solid black;
    }
  }
}

.sub-category-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  h3 {
    font-weight: 700;
    align-items: center;
    padding: 12px 10px;
    font-size: $font-size-large;
  }
  span {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  button {
    padding: 10px;
    border: none;
    background: none;
    display: flex;
    margin-left: -20px;
  }
}

.sub-category-detail-list {
  display: flex;
  flex-direction: column;

  h4 {
    padding: 12px 10px;
  }
}

a {
  color: $gray-90;
}
