@import "../abstracts/variables";
@import "../abstracts/mixins";

.header {
  &-container {
    display: flex;
    height: 60px;
    width: 1140px;
    margin: auto;
    align-items: center;

    .inner-container {
      width: 92%;
      margin: 0 auto;
      display: flex;
      max-width: calc(100% - 48px);
      align-items: center;
      justify-content: space-between;
    }
  }

  &-menu-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: none;

    h3 {
      margin-left: 8px;
    }
  }

  &-menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.start-button {
  background-color: $gray-90;
  color: $gray-00;
  font-size: 17px;
  font-weight: bold;
  border-radius: 4px;
  padding: 0 16px 0;
  height: 40px;
  font-family: Pretendard, serif;
  line-height: 1.5;
}
