@import "../abstracts/variables";
@import "../abstracts/mixins";

.header {
  &-container {
    display: flex;
    height: 60px;
    width: 1140px;
    margin: auto;
    align-items: center;
  }

  &-inner-container {
    display: flex;
    width: 92%;
    margin: 0 auto;
    max-width: calc(100% - 48px);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &-menu-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: none;

    h3 {
      margin-left: 8px;
    }
  }

  &-menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
