@import "../abstracts/variables";
@import "../abstracts/mixins";

.container {
  @include flex(column);
  flex: 1;
}
button.steps {
  width: 100%;
  color: $gray-90;
  font-weight: 700;
  border-radius: 0;
  justify-content: left;
  padding: 26px 8px;
  background-color: transparent;
  &--active {
    background-color: $gray-0;
  }
}
