@import "../abstracts/variables";
@import "../abstracts/mixins";

.container {
  @include flex(column);
  // flex-grow: 5;
  width: 70%;
}

.title {
  color: $gray-90;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}
.step-desc {
  color: $gray-90;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 80px;
}

button.next {
  background-color: $primary;
  color: $gray-0;
  padding: 20px 60px;
  width: fit-content;
  margin-left: auto;
  gap: 8px;
}
.next-container {
  // position: fixed;
  padding: 16px 0;
  bottom: 0;
  margin-top: 24px;
}
