@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";

figcaption {
  @include sr-only;
}

.book-item-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-img {
  width: 200px;
  height: 280px;
}
