@import "../abstracts/variables";
@import "../abstracts/mixins";

.password-set {
  h3 {
    @include sr-only;
  }
  .description {
    margin: 32px 0 32px 0;
    font-size: $font-size-xlarge;
    font-weight: 600;
    line-height: 1.5;
  }

  .message-container {
    display: flex;
    .icon-container {
      @include flex(row, center);
    }
  }
  .password-check-desc {
    font-size: 14px;
    line-height: 1.5;
    margin: 32px 0 16px 0;
    font-weight: $font-weight-medium;
  }

  .next {
    width: 100%;
    background-color: $primary;
    font-weight: $font-weight-semibold;
    color: $gray-00;
    margin-top: 32px;
  }
}
