@import "../abstracts/variables";
@import "../abstracts/mixins";

.password-set {
  h3 {
    @include sr-only;
  }
  .description {
    margin: 32px 0 32px 0;
    font-size: $font-size-xlarge;
    font-weight: 600;
    line-height: 1.5;
  }
  .password {
    &-message-container {
      display: flex;
      gap: 13px;
    }
  }
  .icon-container {
    @include flex(row, center);
  }

  .password-check {
    &-message-container {
      display: flex;
      align-items: center;
      gap: 3px;
    }
    &-desc {
      font-size: 14px;
      line-height: 1.5;
      margin: 32px 0 16px 0;
      font-weight: $font-weight-medium;
    }
  }

  .next {
    width: 100%;
    margin-top: 32px;

    font-weight: $font-weight-semibold;
    background-color: $primary;
    color: $gray-00;
    &:disabled {
      background-color: $gray-20;
      color: $gray-60;
      font-weight: $font-weight-medium;
    }
  }
}
