@import "../abstracts/variables";
@import "../abstracts/mixins";

button.add-study-group {
  background-color: $primary-30;
  color: $primary;
  margin-bottom: 24px;
  padding: 20px 0;
  gap: 8px;
}

input.quiz-title {
  margin-bottom: 16px;
  box-shadow: 0 0 0 1px $gray-40;
}
textarea.quiz-description {
  box-shadow: 0 0 0 1px $gray-40;
}
