@import "../abstracts/variables";

.searchbar {
  border: none;
  background-color: $gray-20;
  border-radius: 4px;

  &-container {
    width: 100%;
    margin: 0 16px 0;
  }

  &::placeholder {
    font-weight: $font-weight-semibold;
  }

  &:focus {
    border: 2px solid $primary;
    outline: none;
  }
}