@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column);
  min-width: 16.4rem;
  max-width: 27.6rem;

  button {
    border: none;
    justify-content: space-between;
    &:hover {
      padding-left: 2.4rem;
    }
  }

  .sub-steps-container {
    visibility: hidden;
  }
  .sub-steps-container.is-visible {
    visibility: visible;
  }

  .have-sub-step:hover {
    .sub-steps-container {
      visibility: visible;
    }
  }

  button.sub-steps {
    justify-content: start;
    color: $gray-60;
  }
}
