@use "/src/styles/abstracts/" as *;

.container {
  background-color: $gray-00;
  border-radius: 10px;
  padding: 10px 20px;
  width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
