@use "/src/styles/abstracts/" as *;

.container {
  background-color: $gray-00;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
