@use "/src/styles/abstracts/" as *;

.book-detail-section-container {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;

  .book-img {
    max-width: 19.6rem;
    max-height: 26.8rem;
    object-fit: contain;
    border: 0.1rem solid $gray-40;
    margin: 1.3rem 1.5rem;
  }
}

.book-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.book-detail-title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.book-description {
  font-size: $font-size-medium;
}

.book-detail-sub-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.book-detail-info-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.8rem;
  font-size: $font-size-large;
}

.book-detail-sub-title {
  font-weight: $font-weight-semibold;
}

.book-detail-sub-content {
  flex-direction: row;
  font-size: $font-size-medium;
  span {
    display: inline-block;
    min-width: 8rem;
  }
}

.number-of-quiz-container {
  // TODO: 중복제거 (책 상세정보)
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.8rem;
  font-size: $font-size-large;
}

.button-container {
  display: flex;
  flex-direction: row;
}
