@import "../abstracts/variables";
@import "../abstracts/mixins";

.button {
  @include button-base;
  &--xsmall {
    padding: $button-padding-xsmall;
    font-size: $font-size-small;
    border-radius: $border-radius-small;
    font-size: $font-size-medium;
    height: $button-height-xsmall;
  }

  &--small {
    padding: $button-padding-small;
    font-size: $font-size-small;
    border-radius: $border-radius-small;
    font-size: $font-size-medium;
    height: $button-height-small;
  }

  &--medium {
    padding: $button-padding-medium;
    font-size: $font-size-medium;
    border-radius: $border-radius-medium;
    font-size: $font-size-large;
    height: $button-height-medium;
  }
  &--large {
    padding: $button-padding-large;
    font-size: $font-size-large;
    border-radius: $border-radius-medium;
    font-size: $font-size-xlarge;
    height: $button-height-large;
  }
  &--xlarge {
    padding: $button-padding-xlarge;
    font-size: $font-size-large;
    border-radius: $border-radius-medium;
    font-size: $font-size-xlarge;
    height: $button-height-xlarge;
  }

  .icon-container {
    cursor: pointer;
    display: flex;
  }
}
