@import "../abstracts/variables";
@import "../abstracts/mixins";

.container {
  @include flex(column);
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.label {
  color: $gray-90;
  font-size: 14px;
  margin-bottom: 16px;
  float: left;
}

.message {
  color: $gray-60;
  font-size: $font-size-small;
  margin-top: 12px;
  &--error {
    @extend .message;
    color: $system-danger;
  }
}

.input {
  @include input-base;
  width: 100%;

  &--large {
    padding: $input-padding-large;
    font-size: $font-size-xlarge;
    height: $input-height-large;
  }

  &--medium {
    padding: $input-padding-medium;
    font-size: $font-size-large;
    height: $input-height-medium;
  }

  &--small {
    padding: $input-padding-small;
    font-size: $font-size-medium;
    height: $input-height-small;
  }

  &--error {
    box-shadow: 0 0 0 2px $system-danger;
  }

  &--left-icon {
    padding-left: 44px;
  }

  &--right-icon {
    padding-right: 44px;
  }
}

.icon-left,
.icon-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // pointer-events: none;
}

.icon-left {
  left: 16px;
}

.icon-right {
  right: 16px;
}
