@import "../abstracts/variables";
@import "../abstracts/mixins";

// TODO: input 공용 스타일 수정하기
.container {
  @include flex(column);
  height: min-content;
  flex-grow: 1;
}
.label {
  color: $gray-90;
  font-size: $font-size-small;
  margin-bottom: 12px;
  float: left;
}
.message {
  color: $gray-70;
  font-size: $font-size-small;
  margin-top: 12px;

  &--error {
    @extend .message;
    color: $system-danger;
  }
}
.input {
  @include input-base;
  &--large {
    padding: $input-padding-large;
    font-size: $font-size-large;
    // border-radius 추가
  }

  &--medium {
    padding: $input-padding-medium;
    font-size: $font-size-medium;
  }

  &--small {
    padding: $input-padding-small;
    font-size: $font-size-small;
  }
  &--error {
    box-shadow: 0 0 0 2px $system-danger;
  }
}
