@import "../abstracts/variables";
@import "../abstracts/mixins";

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .description {
    color: $gray-60;
    font-size: $font-size-large;
    margin-top: 8px;
  }
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
