@import "../abstracts/variables";
@import "../abstracts/mixins";

@mixin social-auth-button-base($bg-color, $color, $margin-bottom: 16px) {
  justify-content: start;
  width: 310px;
  height: 46px;
  margin-bottom: $margin-bottom;
  background-color: $bg-color;
  color: $color;

  img {
    margin: 0 8px;
  }
  div {
    font-size: $font-size-large;
    font-weight: 500; // TODO: semi-bold
    line-height: 1.5;
  }
}

.github-auth-button {
  @include social-auth-button-base($bg-color: $gray-100, $color: $gray-00);
}

.google-auth-button {
  @include social-auth-button-base($bg-color: $gray-00, $color: $gray-100);
  & {
    border: solid 1px #0000001a;
  }
}

.kakao-auth-button {
  @include social-auth-button-base($bg-color: #fae100, $color: #3c1e1e);
}

.naver-auth-button {
  @include social-auth-button-base($bg-color: #00c73c, $color: $gray-00);
}
