@import "../abstracts/variables";
@import "../abstracts/mixins";

.start-button {
  background-color: $gray-90;
  color: $gray-00;
  font-size: 17px;
  font-weight: bold;
  border-radius: 4px;
  padding: 0 16px 0;
  height: 40px;
  font-family: Pretendard, serif;
  line-height: 1.5;
}
