@import "../abstracts/variables";
@import "../abstracts/mixins";

.timer-container {
  display: inline-flex;
  align-items: center;
  background-color: $gray-0;
  padding: 10px 12px;
  span {
    font-size: $font-size-medium;
    font-weight: bold;
  }

}

.timer-icon {
  color: $gray-50;
  margin-right: 8px;
}

