@use "/src/styles/abstracts/" as *;

.container {
  .list-filter-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
  .review-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .loading-spinner {
    margin-top: 3rem;
  }
}
