@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables";

.container {
  .list-filter-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .review-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .loading-spinner {
    margin-top: 30px;
  }
}
