@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column, center);
  margin-block: 4rem 3.5rem;
}

.title {
  margin-bottom: 1.6rem;
  font-size: $font-size-large;
  font-weight: $font-weight-semibold;
}

.desc {
  margin-bottom: 3.2rem;
  font-size: 3.2rem;
  font-weight: $font-weight-semibold;

  .app-name {
    color: $primary;
  }
}

.button-area {
  @include flex(row);
  gap: 0.7rem;
  margin-bottom: 2.4rem;

  button {
    width: 15rem;
  }
}
