@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables";

.code-input-container {
  width: 342px;
  margin: 0 auto;
}

.new-study-invite-code {
  background-color: $background;
  color: $primary;
}

.introduction {
  height: 48px;
}
