@use "/src/styles/abstracts/" as *;

.searchbar {
  border: 0.15rem solid transparent;
  background-color: $gray-20;
  border-radius: 0.6rem;

  &-container {
    flex-grow: 1;
    margin-left: 1rem;
  }

  &::placeholder {
    font-size: 1.5rem;
  }

  &:focus {
    border: 0.15rem solid $primary;
    outline: none;
  }
}
