@import "../../../styles/abstracts/variables";

.searchbar {
  border: none;
  background-color: $gray-20;
  border-radius: 4px;

  &-container {
    width: 100%;
    margin: 0 16px 0;
  }

  &::placeholder {
    line-height: 1.5;
    //font-size: 0.9375rem;
    font-size: 15px;
    //font-size: $font-size-medium;
    //font-weight: $font-weight-medium;
    font-family: Pretendard, serif;
  }

  &:focus {
    border: 2px solid $primary;
    outline: none;
  }
}
