@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.register-baseLayout {
  width: 390px;
  margin: 0 auto;

  .title {
    // margin-top: 80px;
    font-size: 40px;
    font-weight: 600;
  }

  h2 {
    @include sr-only;
  }
}
