@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column);
  gap: 1.6rem;
  margin-bottom: 4rem;
}

.email {
  font-size: $font-size-xlarge;
  color: $primary;
  font-weight: $font-weight-semibold;
}

.warning {
  font-size: $font-size-xlarge;
  font-weight: $font-weight-semibold;
}

.direction {
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
}

.delete-account-agree-content {
  display: inline-block;
  background-color: $gray-00;
  list-style-type: disc;
  list-style-position: inside;
  padding: 2rem;
  font-weight: $font-weight-regular;
  font-size: 1.4rem;
}

.checkbox-area {
  display: flex;
  justify-content: end;
  border-top: 0.1rem solid $gray-40;
  padding-block: 2rem;
}

.checkbox-label {
  font-weight: $font-weight-medium;
  font-size: 1.4rem;
}
