@import "../../../../../styles/abstracts/mixins";
@import "../../../../../styles/abstracts/variables";

.container {
  @include flex(column);
  gap: 16px;
  margin-bottom: 40px;
}

.email {
  font-size: $font-size-xlarge;
  color: $primary;
  font-weight: $font-weight-semibold;
}

.warning {
  font-size: $font-size-xlarge;
  font-weight: $font-weight-semibold;
}

.direction {
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
}

.delete-account-agree-content {
  display: inline-block;
  background-color: $gray-00;
  list-style-type: disc;
  list-style-position: inside;
  padding: 20px;
  font-weight: $font-weight-regular;
  font-size: 14px;
}

.checkbox-area {
  display: flex;
  justify-content: end;
  border-top: 1px solid $gray-40;
  padding-block: 20px;
}

.checkbox-label {
  font-weight: $font-weight-medium;
  font-size: 14px;
}
