@use "/src/styles/abstracts/" as *;

.container {
  position: relative;

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // 제목 스타일 믹스인으로 묶기
    .title {
      font-size: 3.2rem;
      font-weight: $font-weight-bold;
      margin-bottom: 0.8rem;
    }
  }

  .iconTextLabel-container {
    @include flex(row);
    align-items: center;
    gap: 2rem;
    height: 3rem;

    .rating-text,
    .difficulty-level,
    .creator-nickname {
      color: $gray-70;
      font-size: $font-size-medium;
    }

    .rating-text {
      font-size: $font-size-medium;
      color: $gray-60;
      b {
        color: $gray-70;
      }
    }

    .divider {
      height: 2rem;
      width: 0.1rem;
      background-color: $gray-40;
    }

    .creator-profile-image {
      width: 2.6rem;
      height: 2.6rem;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .description {
    margin-top: 1.6rem;
    font-size: $font-size-medium;
    font-weight: $font-weight-regular;
  }

  .small-modal-container {
    position: absolute;
    right: 1.2rem;
    margin-top: 4rem;
    z-index: 10;
  }
}

// 신고하기 모달
.textarea-container {
  padding: 0 1.6rem;
  margin-top: 0.6rem;
}
