@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables";

.container {
  line-height: 1.5;
  position: relative;

  &:not(:first-child) {
    margin-top: 40px;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .title {
    font-size: 18px;
    font-weight: $font-weight-semibold;
  }

  .sub-title {
    font-size: $font-size-large;
    color: $gray-70;
    font-weight: $font-weight-medium;
    margin-bottom: 8px;
  }

  .edit-profile-container {
    display: flex;
    gap: 24px;

    .edit-image-container,
    .edit-info-container {
      display: flex;
      flex-direction: column;
    }

    .edit-info-container {
      width: 100%;
    }
  }

  .member-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  button.save {
    margin-left: auto;
    margin-top: 24px;
  }

  .small-modal-container {
    position: absolute;
    right: 12px;
    margin-top: 40px;
    z-index: 10;
  }
}
