@use "/src/styles/abstracts/" as *;

.container {
  position: relative;

  &:not(:first-child) {
    margin-top: 4rem;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
  }
  .title {
    font-size: 2rem;
    font-weight: $font-weight-semibold;
  }

  .sub-title {
    font-size: 1.4rem;
    color: $gray-70;
    font-weight: $font-weight-medium;
    margin-bottom: 0.8rem;
  }

  .edit-profile-container {
    display: flex;
    gap: 2.4rem;

    .edit-image-container,
    .edit-info-container {
      display: flex;
      flex-direction: column;
    }

    .edit-info-container {
      width: 100%;
    }
  }

  .member-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  button.save {
    margin-left: auto;
    margin-top: 2.4rem;
  }

  .small-modal-container {
    position: absolute;
    right: 1.2rem;
    margin-top: 4rem;
    z-index: 10;
  }
}

.profile-container {
  display: flex;
  gap: 2.4rem;

  .image-container,
  .info-container {
    display: flex;
    flex-direction: column;
  }

  .info-container {
    width: 100%;
    > :nth-child(3) {
      margin-top: 2rem;
    }
  }
  .profile-image {
    border-radius: 0.75rem;
  }

  .title {
    font-size: 2rem;
    font-weight: $font-weight-semibold;
  }

  .sub-title {
    font-size: 1.4rem;
    color: $gray-70;
    font-weight: $font-weight-medium;
    margin-bottom: 0.8rem;
  }
}
