@use "/src/styles/abstracts/" as *;

.header {
  position: relative;
  &-quiz-util-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.12);
    background-color: $gray-00;
    padding: 0.8rem;
    border-radius: 0.8rem;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 5rem; // 메뉴 리스트가 버튼 아래에 위치하게 함
    width: 17rem;
  }

  &-quiz-util-list-item {
    display: flex;
    width: 100%;
    justify-content: start;
    &:hover {
      background-color: $gray-10;
    }

    span {
      font-size: $font-size-large;
      font-weight: $font-weight-regular;
    }
  }
}
