@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables";

.container {
  line-height: 1.5;

  // 제목 스타일 믹스인으로 묶기
  .title {
    font-size: 32px;
    color: $gray-90;
    line-height: inherit;
    font-weight: $font-weight-bold;
  }

  .iconTextLabel-container {
    @include flex(row, true);
    gap: 20px;

    .divider {
      height: 20px;
      width: 1px;
      background-color: $gray-40;
    }
  }

  .description {
    margin-top: 16px;
    line-height: inherit;
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
    color: $gray-90;
  }
}
