@use "/src/styles/abstracts/" as *;

.container {
  .review-info {
    display: flex;
    align-items: center;
    gap: 10px;

    .writer {
      font-size: $font-size-medium;
      font-weight: $font-weight-regular;
    }
    .updatedAt {
      color: $gray-60;
      font-size: 14px;
      font-weight: $font-weight-regular;
    }
    .is-updated {
      background-color: $gray-20;
      color: $gray-60;
      font-size: $font-size-medium;
      font-weight: $font-weight-regular;
      padding: 0.5px 8px;
      border-radius: 4px;
    }
  }
  .review-short-container {
    align-items: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    .review-short {
      display: flex;
      align-content: center;
      gap: 6px;
      color: $gray-60;
      font-size: $font-size-large;

      .divider {
        height: 15px;
        width: 2px;
        margin: auto;
        background-color: $gray-40;
      }
    }
    .edit-container {
      display: flex;
      gap: 8px;
    }
  }
  .comment {
    margin: 16px 0;
  }

  .report-container {
    height: 21px;
    display: flex;
    align-items: center;
    .report {
      text-decoration: underline;
      font-size: 14px;
      font-weight: $font-weight-medium;
      padding: 0;
      margin-left: auto;
    }
  }
}
// 리뷰 수정하기 모달
.difficulty-button-container {
  display: flex;
  gap: 16px;

  * {
    flex: 1;
  }
}

// 리뷰 신고하기 모달
.report-text {
  margin-bottom: 14px; // 임시
}
