@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.container {
  line-height: 1.5;
  .review-info {
    display: flex;
    align-items: center;
    gap: 10px;

    .writer {
      font-size: $font-size-medium;
      font-weight: $font-weight-regular;
    }
    .createdAt {
      color: $gray-60;
      font-size: 14px;
      font-weight: $font-weight-regular;
    }
  }
  .review-short-container {
    align-items: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    .review-short {
      display: flex;
      align-content: center;

      line-height: inherit;
      gap: 6px;
      color: $gray-60;
      font-size: $font-size-large;

      .divider {
        height: 15px;
        width: 2px;
        margin: auto;
        background-color: $gray-40;
      }
    }
    .edit-container {
      display: flex;
      gap: 8px;
    }
  }
  .comment {
    margin-top: 16px;
    line-height: inherit;
  }

  .report {
    text-decoration: underline;
    font-size: 14px;
    font-weight: $font-weight-medium;
    line-height: inherit;
    padding: 0;
    margin-left: auto;
    margin-top: 16px;
  }
}
