@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column, center);
  gap: 4rem;
  margin-inline: 4rem;
}

.title {
  text-align: center;
  font-size: 3.2rem;
  font-weight: $font-weight-bold;
  white-space: pre-wrap;
}

.review-star-container {
  @include flex(column, center);
}

.request-text {
  font-size: 2rem;
}

.request-sub-text {
  font-size: $font-size-medium;
  color: $gray-70;
  margin-bottom: 1.6rem;
}

.difficulty-container {
  @include flex(column, center);
  gap: 1.6rem;
  @include fadeIn;
}

.button-area {
  display: flex;
  gap: 1.6rem;
  width: 48rem;
  button {
    flex-grow: 1;
    flex-basis: 30%;
  }
}

.difficulty-button {
  &:hover {
    background-color: $primary;
    color: $secondary;
    border: 0.15rem solid $primary;
    transition: all 0.4s ease-in-out;
  }
}

.review-text-container {
  @include flex(column, center);
  @include fadeIn;
}
.request-text {
  @include flex(column, center);
  margin-bottom: 1.6rem;
}
.review-textarea {
  width: 50rem;
  height: 5.1rem;
}

.btn-done {
  width: 20rem;
}

.show-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.review-text-inner {
  margin-bottom: 4rem;
}

.show-review-checkbox-label {
  font-size: $font-size-medium;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.078rem;
}

.show-review-checkbox-sub-label {
  font-size: 1.4rem;
  color: $gray-70;
  letter-spacing: 0.078rem;
}
