@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.container {
  @include flex(column, center);
  gap: 40px;
  margin-inline: 40px;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: $font-weight-bold;
  line-height: 150%;
  white-space: pre-wrap;
}

.review-star-container {
  @include flex(column, center);
}

.request-text {
  font-size: 20px;
  line-height: 150%;
}

.request-sub-text {
  font-size: $font-size-medium;
  color: $gray-70;
  margin-bottom: 16px;
}

.difficulty-container {
  @include flex(column, center);
  gap: 16px;
  @include fadeIn;
}

.button-area {
  display: flex;
  gap: 16px;
  width: 480px;
  button {
    flex-grow: 1;
    flex-basis: 30%;
  }
}

.difficulty-button {
  &:hover {
    background-color: $primary;
    color: $secondary;
    border: 1.5px solid $primary;
    transition: all 0.4s ease-in-out;
  }
}

.review-text-container {
  @include flex(column, center);
  gap: 16px;
  @include fadeIn;
}

.button-container {
  // 임의
  display: flex;
  gap: 10px;
}

.review-textarea {
  width: 500px;
  height: 51px;
}

.done {
  //   width: 200px;
}
