@use "/src/styles/abstracts/" as *;

@mixin option-button-text {
  white-space: nowrap;
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
}

.question-form {
  @include flex(column);
  gap: 8px;
  border: 1.5px solid transparent;
  background-color: $gray-00;
  padding: 24px;
  border-radius: $border-radius-medium;
  margin-bottom: 20px;

  max-width: 792px;
  min-width: 560px;

  border: 1.5px solid $gray-40;

  &-header {
    display: flex;
    justify-content: space-between;
  }

  .move-quiz-button {
    background-color: $gray-00;
    width: 40px;
    height: 40px;
    // margin-left: -8px;

    @include flex(row, center);
    border-radius: 50%;
  }

  .setting-container {
    display: flex;
    width: 100%;
    gap: 8px;

    .image-add-button {
      border: 1.5px solid $gray-40;
      width: 43px;
      height: 43px;
      border-radius: 8px;
    }

    textArea.title {
      border: none;
      font-size: $font-size-large;
      font-weight: $font-weight-semibold;
      line-height: 1.5;
      padding: 8.5px 0;
      &::placeholder {
        color: $gray-60;
      }
    }
  }
}

.border--invalid {
  border: 1.5px solid $primary;
  &:focus-within {
    border: 1.5px solid $primary;
  }
}

.option-add-button {
  display: flex;
  padding: 11.5px 8px;
  width: 100%;
  color: $gray-50;
  font-size: $font-size-large;
  @include option-button-text;

  span:first-of-type {
    width: 100%;
    text-align: start;
  }
  span {
    @include option-button-text;
    color: $gray-60;
  }
  .current-option-length {
    @include option-button-text;
    color: $system-danger;
  }
}

.answer-area {
  background: $background;
  padding: 14px 16px;
  @include flex(column);
  gap: 8px;
  border-radius: 8px;

  &-header {
    @include flex(row);
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: $font-weight-semibold;
    color: $gray-70;
    border: none;

    span {
      font-size: 14px;
    }

    .image-add-button {
      background: transparent;
      border: none;
      padding: 0;
    }
  }

  textArea.answer {
    border: none;
    border-radius: 0;
    background-color: transparent;
    font-size: $font-size-medium;
    font-weight: $font-weight-regular;

    &::placeholder {
      font-size: $font-size-medium;
    }

    color: $gray-70;
    padding: 0;
  }
}

.image {
  &-area {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &-item-container {
    position: relative;
    cursor: pointer;

    .image {
      @include questionExplanationImage;
    }

    .delete-button {
      position: absolute;
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 24px;
      height: 24px;
      top: 4px;
      right: 4px;
      padding: 0;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.error-text-max-img {
  font-size: $font-size-medium;
  color: $system-danger;
  line-height: 1.5;
}
// _quiz_write_form_option_item.module.scss 시작
.option {
  &-label {
    @include flex(row);
    width: 100%;
    height: 100%;
    gap: 8px;
    color: $gray-90;
    font-size: $font-size-medium;
    font-weight: $font-weight-regular;
  }

  &-check-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $gray-60;
  }
}

.new-option {
  border: none;
  padding: 0;
  border-radius: 0;
  font-size: $font-size-large;

  &:focus {
    background-color: $background;
    outline: none;
    border: none;
  }
}

.radio-button-item {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
}

// _quiz_write_form_option_item.module.scss 끝

// ox_quiz_form.module.scss 시작
.question-form-content {
  @include flex(column);
  gap: 8px;
}

.question-options {
  @include flex(column);
  gap: 8px;
}

.option-container {
  width: 100%;
}

// ox_quiz_form.module.scss 끝

// _quiz_write_form_type_util_button.module.scss 시작
.question-template-type-util {
  &-button-container {
    position: relative;
    @include flex(row);
    height: fit-content;
    width: fit-content;

    .button {
      display: flex;
      justify-content: start;
      width: 164px;
      height: 43px;
    }

    h3 {
      display: flex;
      flex: 1;
      text-align: start;
      font-size: $font-size-medium;
      line-height: 150%;
      font-weight: $font-weight-regular;
    }
  }

  &-list {
    width: 164px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    border: 1.5px solid #d8d8d8;
    position: absolute;
    z-index: 1;
    top: 56px; // 48px + 8px (버튼 height + margin)

    &-item {
      display: flex;
      justify-content: start;
      height: 43px;
      width: 100%;
      font-size: $font-size-medium;
      font-weight: $font-weight-regular;
      line-height: 150%;
      &:hover {
        background-color: $gray-10;
      }
    }
  }
}

.btn--disabled {
  color: $gray-50 !important;
  font-size: $font-size-large;
}

// _quiz_write_form_type_util_button.module.scss 끝
