@import "../../../../styles/abstracts/variables";
@import "../.././../../styles/abstracts/mixins";

// TODO 리팩토링
.quiz-write-form-type-util {
  &-button-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 8px;
  }

  &-button {
    display: flex;
    align-items: center;
    background-color: $gray-00;
    border: 1px solid $gray-40;
    border-radius: 8px;
    white-space: nowrap;
    padding: 11px 16px;

    h3 {
      font-family: Pretendard, serif;
      font-weight: $font-weight-regular;
      font-size: $font-size-large;
    }
  }
}
