@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.write-quiz {
  border: 1px solid transparent;
  //width: 35em;
  background-color: $gray-00;
  padding: 20px;
  border-radius: $border-radius-medium;
  margin-bottom: 20px;

  &-header {
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      gap: 16px;
    }
  }

  &:focus-within {
    border: 1px solid $primary;

    button.set-answer,
    button.set-quiz {
      background: none;
      color: black;
      font-weight: $font-weight-semibold;
      padding:11px 16px;
      line-height: 1.5em;

      &.active {
        background: $secondary;
        //color: $gray-60;
        color: $primary;
        font-weight: 600;
      }
    }
  }

  .quiz-mode-buttons {
    display: flex;
    margin-bottom: 20px;
  }


  // TODO : 리팩토링
  button.set-answer,
  button.set-quiz {
    background: none;
    color: $gray-60;
    font-weight: $font-weight-semibold;
    padding:11px 16px;
    line-height: 1.5em;

    &.active {
      background: $gray-10;
      color: $gray-70;
      font-weight: $font-weight-semibold;
    }
  }



  .input-container {
    display: flex;
    gap: 16px;

    input.question {
      border: none;
      color: $gray-90;
      font-size: $font-size-xlarge;
      font-weight: $font-weight-semibold;
    }

    .select-box {
      position: relative;
      display: inline-block;
      width: 168px;

      select.question-type {
        padding: 22px 16px;
        width: 100%;
        border-color: $gray-40;
        border-radius: $border-radius-medium;
        font-size: $font-size-xlarge;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        position: relative;
        cursor: pointer;
      }
      .arrow-down {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }
  }
  .question-options {
    margin-top: 32px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 13px;
    font-size: $font-size-xlarge;

    .option {
      &-container {
        @include flex(row, center);
        width: 100%;
        border-radius: 8px;
        justify-content: space-between;
        gap: 8px;
        padding: 0 16px;
        height: 48px;


        &.focused {
          background-color: $background;
        }


        .delete-option-button {
          all: unset;
        }

      }

      &-label {
        @include flex(row);
        gap: 8px;
        color: $gray-90;
        font-size: $font-size-medium;
        font-weight: $font-weight-regular;

      }
      &-check-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid $gray-60;
      }




    }

    legend {
      @include sr-only;
    }
  }
}

input.new-option {
  border: none;
  padding: 0;
  border-radius: 0;
  font-size: $font-size-xlarge;

  &:focus {
    background-color: $background;
    outline: none;
    border: none;
  }
}

.move-quiz-button {
  all: unset;
}

.delete-quiz-button {
  all: unset;
}


.option-add-button{
  @include flex(row); /* 내부 요소를 정렬하기 위해 flex 사용 */
  width: 100%;  /* 버튼의 너비를 부모 요소에 맞춤 */
  background: transparent;
  border: none;
  padding: 0;
  color:$gray-50;
  font-size: $font-size-medium;

 &-container {
   align-items: center;
   height:48px;
   @include flex(row);

   width: 100%;
   padding: 0 16px;
 }

  &-check-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $gray-50;
    margin-right: 8px;
  }
}

.quiz-mode-answer {
  &-container{
    background: $background;
    padding: 14px 16px;
    @include flex(column);
    gap: 16px;
    border-radius: 8px;
  }

  &-header{
    @include flex(row);
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    border: none;
  }

  &-text-area{
    border: none;
    background-color: transparent;
    font-size: $font-size-medium;
    font-weight: $font-weight-regular;
    color: $gray-70;
  }
  }
.image-add-button {
  background: transparent;
  border: none;
  padding: 0;
}
