@import "../../../../styles/abstracts/variables";
@import "../.././../../styles/abstracts/mixins";

// TODO 리팩토링
.quiz-write-form-type-util {
  &-button-container {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &-button {
    h3 {
      font-family: Pretendard, serif;
      font-weight: $font-weight-regular;
      font-size: $font-size-large;
    }
  }
}
