@import "../../../../styles/abstracts/mixins";

.quiz-write-form-type-util-list {
  width: 244px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  position: absolute;
  z-index: 1;
  top: 56px; // 48px + 8px (버튼 height + margin)

}

.quiz-write-form-type-util-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 10px 16px;
  border-radius: 6px;
  gap: 5px;

  &:hover {
    background-color: $gray-10;
  }

  span {
    width: 100%;
    font-size: $font-size-large;
    color: $gray-90;
    margin-left: 8px;
  }
}
