@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.write-quiz {
  @include flex(column);
  gap: 20px;
  border: 1.5px solid transparent;
  background-color: $gray-00;
  padding: 20px;
  border-radius: $border-radius-medium;
  margin-bottom: 20px;

  &-header {
    // TODO: 리팩토링
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      gap: 16px;
    }
  }

  &:focus-within {
    border: 1.5px solid $primary;

    button.set-answer,
    button.set-quiz {
      background: transparent;
      color: $gray-90;

      &.active {
        background: $secondary;
        color: $primary;
      }
    }
  }

  .quiz-mode-buttons {
    display: flex;
    gap: 2px;
  }

  .input-container {
    display: flex;
    width: 100%;
    gap: 12px;

    .title-area {
      width: 100%;
    }

    textArea.question {
      display: flex;
      border: none;
      color: $gray-90;
      font-size: $font-size-large;
      padding: 12px 0;
    }

    .select-box {
      position: relative;
      display: inline-block;
      width: 168px;

      select.question-type {
        padding: 22px 16px;
        width: 100%;
        border-color: $gray-40;
        border-radius: $border-radius-medium;
        font-size: $font-size-xlarge;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        position: relative;
        cursor: pointer;
      }
      .arrow-down {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }
  }
  .question-options {
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 13px;
    font-size: $font-size-xlarge;

    legend {
      @include sr-only;
    }
  }
}

.move-quiz-button {
  all: unset;
}

.delete-quiz-button {
  all: unset;
}

.option-add-button {
  @include flex(row); /* 내부 요소를 정렬하기 위해 flex 사용 */
  width: 100%; /* 버튼의 너비를 부모 요소에 맞춤 */
  background: transparent;
  border: none;
  padding: 0;
  color: $gray-50;
  font-size: $font-size-large;

  &-container {
    align-items: center;
    height: 48px;
    @include flex(row);

    width: 100%;
    padding: 0 16px;
  }

  &-check-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $gray-50;
    margin-right: 8px;
  }

  &-check-square {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 2px solid $gray-50;
    margin-right: 8px;
  }
}

.quiz-mode-answer {
  &-container {
    background: $background;
    padding: 14px 16px;
    @include flex(column);
    gap: 8px;
    border-radius: 8px;
  }

  &-header {
    @include flex(row);
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-large;
    font-weight: $font-weight-semibold;
    border: none;
  }

  &-text-area {
    border: none;
    background-color: transparent;
    font-size: $font-size-large;
    font-weight: $font-weight-regular;
    color: $gray-70;
  }
}
.image-add-button {
  background: transparent;
  border: none;
  padding: 0;
}
// TODO: 공용으로 사용 필요
.a11y-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.image-area {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.image {
  display: block;
  object-fit: cover;
  width: 9.75em;
  height: 10.75em;
  border-radius: 4px;
}

.image-item {
  position: relative;
}

.delete-button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 4px;
  right: 4px;
  padding: 0;

  img {
    width: 24px;
    height: 24px;
  }
}
