@use "/src/styles/abstracts/" as *;

.container {
  // margin-top: 40px;
  // margin-bottom: 80px;
  display: flex;
  gap: 40px;

  .title {
    font-size: 30px;
    font-weight: $font-weight-semibold;
    margin-bottom: 16px;
  }
  .book-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .breadcrumb-filter-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
