@use "/src/styles/abstracts/" as *;

.container {
  display: flex;
  gap: 4rem;

  .title {
    font-size: 3rem;
    font-weight: $font-weight-semibold;
    margin-bottom: 1.6rem;
  }
  .book-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .breadcrumb-filter-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
