@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables";

.button {
  border-radius: 8px;
  height: 150px;
  width: 150px;
  background-color: $secondary;
  border: 1.5px dashed $primary;
  font-size: $font-size-large;
  font-weight: $font-weight-semibold;
  color: $primary;

  @include flex(column, center);
  gap: 16px;
}
