@import "_variables.scss";

@mixin flex($direction: row, $center: false) {
  display: flex;
  flex-direction: $direction;

  @if $center {
    justify-content: center;
    align-items: center;
  }
}

// 버튼 기본 스타일
@mixin button-base {
  @include flex(row, center);
  padding: $button-padding-medium;
  border-radius: $border-radius-small;
  font-size: $font-size-medium;
  font-family: inherit;
  font-weight: $font-weight-medium;
  border: none;
  gap: 8px;
  flex-shrink: 0;
  white-space: nowrap;
}

@mixin input-base {
  padding: $input-padding-medium;
  border-radius: $border-radius-medium;
  font-size: $font-size-medium;
  border: 1.5px solid $gray-40;
  font-family: inherit;
  color: $gray-90;
  width: 100%;
  line-height: 1.5;

  &::placeholder {
    color: $gray-60;
  }

  &:focus {
    outline: none;
  }
}

@mixin textarea-base {
  overflow: hidden;

  & {
    resize: none;
  }
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
    width: 40px;

    &-track {
      width: 8px;
      background: none;
    }

    &-thumb {
      width: 8px;
      border-radius: 9999px;
      background-clip: padding-box;
      border: 16px solid transparent;
      background-color: $gray-40;
      cursor: pointer;
    }
  }
}

@mixin inner-content-scroll-bar {
  &::-webkit-scrollbar {
    width: 17px;
    background-color: transparent;

    &-thumb {
      height: 60px;
      border-radius: 9999px;
      background-clip: padding-box;
      border: 6px solid transparent;
      cursor: pointer;
      background-color: $gray-40;
    }
  }
}

// break point
@mixin respond-to($breakpoint) {
  @if $breakpoint ==sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint ==md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint ==lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint ==lx {
    @media (max-width: $breakpoint-lx) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin fadeIn {
  animation: fadeIn 1s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@mixin slideInX {
  animation: slideInX 1s ease-in-out;

  @keyframes slideInX {
    0% {
      transform: translateX(30%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

@mixin slideInY {
  animation: slideInY 0.5s ease-in-out;

  @keyframes slideInY {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}

// 모달 등
@mixin modal-backdrop {
  display: flex;
  align-items: center;
  background-color: $modal-backdrop-color;
  z-index: 999; //위치지정 요소
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin modal-view {
  display: flex;
  align-items: start;
  background-color: $gray-00;
  flex-direction: column;
  border-radius: $border-radius-large; // 12px
  padding: 30px;
  position: relative;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
