/* Colors */
$gray-00: #ffffff;
$gray-10: #f5f5f5;
$gray-20: #ececec;
$gray-30: #d9d9d9;
$gray-40: #d8d8d8; // stroke & border
$gray-50: #bdbdbd;
$gray-60: #8e8e8e; // text-input
$gray-70: #555555;
$gray-90: #1d1d1d;
$gray-100: #000000;

$primary: #9747ff;
$secondary: #f5edff;

$system-danger: #eb003b;
$system-success: #3dbf0f;
$system-warning: #ffb724;

$background: #f8f8f8;

$modal-backdrop-color: #00000080;

// auth button color
$kakao: #fae100;
$naver: #00c73c; // ? #00C73C?
// 00cd0a
/* Font Sizes */
$font-size-small: 13px;
$font-size-medium: 15px;
$font-size-large: 17px;
$font-size-xlarge: 19px;

$font-size-user-auth-agreement-title: 32px;
$font-size-user-auth-agreement-content: 14px;

// e.g) 마이페이지
$font-size-subTitle: 20px;

/* Font Weight */
$font-weight-extra-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$border-radius-xsmall: 4px;
$border-radius-small: 6px;
$border-radius-medium: 8px;
$border-radius-large: 12px;

/* Button */
$button-padding-xsmall: 0 10px;
$button-height-xsmall: 32px;
$button-font-xsmall: $font-size-medium; // 15px
$button-radius-xsmall: $border-radius-small;

$button-padding-small: 0 12px;
$button-height-small: 40px;
$button-font-small: $font-size-medium; // 15px
$button-radius-small: $border-radius-small;

/* default button */
$button-padding-medium: 0 16px;
$button-height-medium: 48px;
$button-font-medium: $font-size-large; // 17px
$button-radius-medium: $border-radius-medium;

$button-padding-large: 0 20px;
$button-height-large: 56px;
$button-font-large: $font-size-large; // 17px
$button-radius-large: $border-radius-medium;

// 현재 사용되는 곳 없음
// $button-padding-xlarge: 0 24px;
// $button-height-xlarge: 64px;
// $button-font-xlarge: $font-size-xlarge;
// $button-radius-xlarge: $border-radius-medium;

/* Input Paddings */
// $input-padding-small: 14.5px 16px;
// $input-padding-medium: 18px 16px;
// $input-padding-large: 21.5px 16px;

/* Input */
$input-padding-small: 0 16px;
$input-height-small: 40px;
$input-font-small: $font-size-medium; // 15px

// default Input
$input-padding-medium: 0 16px;
$input-height-medium: 48px;
$input-font-medium: $font-size-large; // 17px

$input-padding-large: 0 16px;
$input-height-large: 56px;
$input-font-large: $font-size-large; // 17px

/* Textarea Paddings */
$textarea-padding-large: 12px 16px;
$textarea-padding-medium: 10px 16px;
$textarea-padding-small: 7px 16px; // (임의)

/* breakpoints */
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 905px;
$breakpoint-xl: 1440px; // 1440
