@use "/src/styles/abstracts/" as *;

.toggle-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: $gray-70;
  font-size: $font-size-large;

  button.toggle {
    border-radius: 0.6rem;
    width: 4.8rem;
    height: 3rem;
    border: none;
    padding: 0.3rem;
    display: flex;
    position: relative;

    &.on {
      background-color: $primary;
    }
    &.off {
      background-color: $gray-50;
    }

    .circle {
      border-radius: 50%;
      width: 2.4rem;
      height: 2.4rem;
      background-color: $gray-00;
      position: absolute;
      left: 0.3rem;
      transition: transform 0.2s ease;
    }
    &.on .circle {
      transform: translateX(1.8rem);
    }

    &.off .circle {
      transform: translateX(0);
    }
  }
}
