@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column);

  .row-container {
    @include flex(row);
    gap: 35px;
    margin-top: 20px;
  }

  .quiz-detail-container {
    width: 100%;
    > *:not(:last-child) {
      margin-bottom: 64px;
    }
  }
}
