@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column);

  .row-container {
    @include flex(row);
    gap: 3.5rem;
    margin-top: 2rem;
  }

  .quiz-detail-container {
    width: 100%;
    > *:not(:last-child) {
      margin-bottom: 6.4rem;
    }
  }
}
