@use "/src/styles/abstracts/" as *;

.quiz-list-header {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.filter-list {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 2rem;
}

.filter-button-area {
  display: flex;
  gap: 1.6rem;

  .filter-button {
    padding: 0;
    border: none;
    font-size: $font-size-large;
    height: 2.6rem;
  }
}

.list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
