@use "/src/styles/abstracts/" as *;

.book-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22rem;

    .img {
      max-width: 16rem;
      height: auto;
      border-radius: 0.6rem;
    }
  }

  &-info {
    margin: 1.8rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .title {
    font-size: $font-size-medium;
    font-weight: $font-weight-semibold;
  }
  .authors,
  .publisher {
    font-size: $font-size-small;
  }
  .quiz-count-container {
    display: flex;
    gap: 0.4rem;
    margin-top: 1rem;
    .quiz-count {
      font-size: $font-size-small;
    }
  }
}
