@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.profile-set {
  display: flex;
  flex-direction: column;
  gap: 32px;

  h3 {
    @include sr-only;
  }
  .description {
    margin-top: 32px;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
  }
  .description[data-for="nickname"] {
    margin-bottom: 16px;
  }
}

.delete {
  background-color: none;
  margin: 0;
}
.done {
  margin-top: 24px;
}
