@use "/src/styles/abstracts/" as *;

.profile-set {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  .description {
    margin-top: 3.2rem;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
  }
  .description[data-for="nickname"] {
    margin-bottom: 1.6rem;
  }
}

.delete {
  background-color: none;
  margin: 0;
}
.done {
  margin-top: 2.4rem;
}
