@use "/src/styles/abstracts/" as *;

.sub-title {
  font-size: $font-size-subTitle;
  font-weight: $font-weight-semibold;
}

.change-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  gap: 3.2rem;
}

.setting-img {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 4rem;
}

.setting-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.current-email {
  color: $gray-60;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.input-area {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  gap: 3.2rem;
}

.input-inner {
  width: 100%;
}

.disabled {
  color: $gray-60;
}

.input {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.button {
  width: 13.2rem;
  font-weight: $font-weight-semibold;
}

.message-container {
  display: flex;
  align-items: center;
}

.error--input-text {
  color: $system-danger;
}
