@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.quiz-setting-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;

  .title {
    font-size: $font-size-large;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .select {
    text-align: left;
    justify-content: space-between;
  }

  .option-list {
    @include input-base;
    background-color: $gray-00;
    display: flex;
    flex-direction: column;
    padding: 8px 0;

    .option {
      justify-content: start;
    }
  }

  .desc {
    color: $gray-60;
    font-size: $font-size-medium;
  }
}

// .time-limit-container,
// .view-access-container,
// .edit-access-container {
//   @include container;
// }
