@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.quiz-setting-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 59px; // 요상

  label {
    font-size: $font-size-xlarge;
  }
  select {
    display: block;
  }
  .desc {
    color: $gray-60;
    font-size: $font-size-medium;
  }
}

// .time-limit-container,
// .view-access-container,
// .edit-access-container {
//   @include container;
// }
