@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.container {
  margin-top: 40px;

  @include respond-to(lg) {
    padding: 16px 160px 16px;
  }

  @include respond-to(md) {
    padding: 16px 40px 16px;
  }

  @include respond-to(sm) {
    padding: 16px 20px 16px;
    flex-direction: column;
    align-items: center;
  }
}
