@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables";

.container {
  .title {
    font-size: 18px;
    font-weight: $font-weight-semibold;
  }
  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .quiz-list {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    &-empty-item {
      height: 280px;
      background-color: transparent;
      border: none;
    }
  }
}
