@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.terms-agreement {
  @include flex(column);
  gap: 32px;

  h3 {
    @include sr-only;
  }

  .description {
    margin-top: 32px;
    font-size: $font-size-xlarge;
    font-weight: 600;
    line-height: 1.5;
  }

  // 폼
  form {
    @include flex(column);
    gap: 32px;

    .agreement-all {
      padding: 22px 0;
      border-bottom: 1px solid $gray-40;
    }

    .agreement-list-container {
      @include flex(column);
      gap: 32px;
    }
  }

  fieldset {
    @include flex(column);
    gap: 32px;
    font-size: 14px;
  }

  legend {
    @include sr-only;
  }

}

.submit {
  background-color: $primary;
  color: white;
  font-weight: $font-weight-semibold;
  font-size: $font-size-large;
  padding: 0;

  &-disabled {
    background-color: $gray-20;
    color: $gray-60;
    font-weight: $font-weight-semibold;
    font-size: $font-size-large;
  }
}
