@use "/src/styles/abstracts/" as *;

.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.8rem 0;

  .profile-image {
    width: 15rem;
    height: 15rem;
    border-radius: 0.4rem;
    background-color: $gray-30;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.8rem;

    &-header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 0.8rem;
      .share-study-code-button {
        padding: 0.5rem;
        margin: -0.5rem -0.5rem;
      }
      .name {
        font-weight: $font-weight-semibold;
        font-size: $font-size-large;
        @include text-ellipsis;
        max-width: 10rem;
      }
    }

    .icon-text-label {
      @include flex(row, center);
      justify-content: start;
      gap: 0.8rem;
      font-size: 1.4rem;
      font-weight: $font-weight-medium;

      &.active {
        color: $primary;
      }
    }

    .study-info {
      margin-top: 2.4rem;
    }
  }
}
