@use "/src/styles/abstracts/" as *;

.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.8rem 0;

  .profile-image {
    width: 15rem;
    height: 15rem;
    border-radius: 0.4rem;
    background-color: $gray-30;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.4rem;

    .name-button-container {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      .name {
        font-weight: $font-weight-semibold;
        font-size: $font-size-large;
        @include text-ellipsis;
        max-width: 10rem;
      }
      .member-setting {
        height: 2.6rem;
        font-size: 1.4rem;
        font-weight: $font-weight-regular;
        border-radius: 0.4rem;
      }
    }

    .icon-text-label {
      @include flex(row, center);
      justify-content: start;
      gap: 0.8rem;
      font-size: 1.2rem;
      font-weight: $font-weight-medium;

      &.active {
        color: $primary;
      }
    }

    .study-info {
      margin-top: 2.4rem;
    }
  }
}
