@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables";

.container {
  @include flex(column);

  .main {
    width: 1140px;
    margin: 0 auto;
    padding: 0 40px;
    margin-top: 40px; // 헤더없음

    .inner-container {
      width: 100%;
    }
  }
}
