@use "/src/styles/abstracts/" as *;

.container {
  position: relative;
  display: flex;
  margin-left: 0.8rem;
}

.quiz-util-btn {
  font-weight: $font-weight-medium;
  color: $gray-70;

  &--active {
    color: $gray-90;
  }
}
