@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.header {
  &-quiz-util-button-container {
    display: flex;
    margin-left: 8px;

    button {
      font-weight: $font-weight-semibold;
    }
  }
}
