@use "/src/styles/abstracts/" as *;

.header {
  &-quiz-util-button-container {
    position: relative;
    display: flex;
    margin-left: 0.8rem;

    button {
      font-weight: $font-weight-semibold;
    }
  }
}
