@use "/src/styles/abstracts/" as *;

.container {
  .sub-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &:not(:first-child) {
      margin-top: 4rem;
    }
  }
  .sub-title {
    font-size: $font-size-subTitle;
    font-weight: $font-weight-semibold;
  }
  .code-input-container {
    width: 34.2rem;
    margin-top: 2.4rem;
  }
  .done {
    width: 15rem;
    margin-top: 4rem;
  }
  .right-end {
    margin-left: auto;
  }
}
