@use "/src/styles/abstracts/" as *;
.header {
  width: 100%;
  background-color: $background;
  position: fixed;
  z-index: 100;

  &-container {
    background-color: inherit;
    position: relative;
    @include flex(row, center);
    // height: 5.8rem;
    max-width: 114rem;
    padding: 1rem 4rem;
    margin: 0 auto;
    z-index: inherit;

    border-bottom: 1px solid $gray-40;
  }

  &-inner-container {
    position: relative;
    background-color: inherit;
    @include flex(row, center);
    flex-grow: 1;
    justify-content: space-between;
    z-index: inherit;
    height: 3rem;
  }
}

.row {
  @include flex(row, center);
  gap: 1.6rem;
}

.snb {
  display: flex;
  align-items: center;
}

.snb__item-btn {
  font-size: 1.4rem;
  color: $gray-70;
  height: fit-content;
}

.input-profile-container {
  @include flex(row, center);
  gap: 1rem;

  .book-search-input {
    background-color: $gray-20;
    border: none !important;
    width: 30rem !important;
  }
}
