@use "/src/styles/abstracts/" as *;
.header {
  width: 100%;
  background-color: $background;
  position: fixed;
  z-index: 100;

  &-container {
    background-color: inherit;
    position: relative;
    @include flex(row, center);
    // height: 5.8rem;
    max-width: 114rem;
    padding: 1rem 4rem;
    margin: 0 auto;
    z-index: inherit;

    border-bottom: 1px solid $gray-40;
  }

  &-inner-container {
    position: relative;
    background-color: inherit;
    @include flex(row, center);
    flex-grow: 1;
    justify-content: space-between;
    z-index: inherit;
    height: 3rem;
  }
}

.row {
  @include flex(row, center);
  gap: 1.6rem;
}

.snb {
  display: flex;
  align-items: center;
}

.snb__item-btn {
  font-size: 1.4rem;
  color: $gray-70;
  height: fit-content;
}

.input-profile-container {
  @include flex(row, center);
  gap: 1rem;

  .book-search {
    position: relative;
    top: 0;
  }

  .book-search-input {
    margin-top: 0;
    background-color: $gray-20;
    border: none !important;
    width: 30rem !important;
  }

  .book-search-result {
    width: 30rem;
    position: absolute;
    margin-top: 1rem;

    border-radius: 0.6rem;
    background-color: $gray-00;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border: 0.1rem solid $gray-40;

    .no-result {
      font-size: 1.4rem;
      font-weight: $font-weight-regular;
      color: $gray-60;
      padding: 0.8rem 1rem;
    }

    &-item {
      &:hover {
        background-color: $background;
        border-radius: inherit;
      }
      display: flex;
      gap: 0.8rem;
      cursor: pointer;
      padding: 0.8rem 1rem;
      border: 0.15rem solid transparent;
      &-image {
        border: 0.2rem solid $gray-40;
        border-radius: 0.2rem;
      }
      .info-container {
        @include flex(column);
        gap: 0.4rem;
        justify-content: center;

        .title {
          font-weight: $font-weight-medium;
          font-size: 1.4rem;
        }
        .author {
          font-size: 1.4rem;
          font-weight: $font-weight-regular;
          color: $gray-60;
        }
      }
    }
    .more-result {
      cursor: pointer;
      color: $gray-60;
      font-weight: $font-weight-regular;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      padding: 0.95rem 0.8rem;
      margin-left: auto;
      width: fit-content;
    }
  }
}
