@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.header {
  width: 100vw;
  background-color: $background;
  position: fixed;
  z-index: 100;

  &-container {
    @include flex(row, center);
    height: 58px;
    width: 1140px;
    padding: 0 40px;
    margin: 0 auto;
  }

  &-inner-container {
    @include flex(row, center);
    flex-grow: 1;
    justify-content: space-between;
    z-index: 100;
  }
}
