@use "/src/styles/abstracts/" as *;

.register-baseLayout {
  width: 39rem;
  margin: 8rem auto;

  .inner-container {
    padding: 0 2.4rem;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 3.2rem;
    font-weight: $font-weight-semibold;
  }
}
