@import "../../../styles/abstracts/variables";

.logo {
  &-container {
    width: 158px;
    flex-shrink: 0;

    h1 {
      margin-left: 4px;
      font-size: 1.25em;
      font-weight: bold;
    }
  }

  &-link {
    align-items: center;
    display: flex;
    flex-direction: row;
    border: none;
    background: transparent;
  }

  &-icon {
    padding: 8px;
  }
}
