@import "../../../styles/abstracts/variables";

.logo {
  &-container {
    flex-shrink: 0;

    h1 {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &-link {
    padding: 0 !important;
    margin-right: 10px !important;
  }

  &-icon {
    padding: 8px;
  }
}
