@use "/src/styles/abstracts/" as *;

.container {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid $gray-30;
  background-color: $gray-00;
  padding: 2.4rem;
  border-radius: 0.8rem;
  gap: 4rem;
  cursor: pointer;
  min-width: 0;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  color: $gray-70;
}

.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $gray-60;
  font-size: $font-size-medium;

  b {
    color: $gray-70;
  }
}

.difficulty-level {
  color: $gray-70;
  font-size: $font-size-medium;
}

.quiz-title {
  @include text-ellipsis;
  font-size: $font-size-xlarge;
  font-weight: $font-weight-bold;
}

.quiz-tag {
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  width: 6.2rem;
  height: 2.4rem;
  border: none;
  padding: 0 0.8rem;
  border-radius: 0.4rem;
  color: $gray-70;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.study-group-info {
  display: flex;
  align-items: center;
  span {
    color: $gray-90;
    font-size: $font-size-large;
    margin-left: 0.8rem;
  }
}

.study-group-img {
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
}

.play-quiz-button {
  background-color: $primary;
  color: $gray-00;
  font-size: $font-size-medium;
  width: 10rem;
}
