@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-30;
  background-color: $gray-00;
  padding: 24px;
  border-radius: 8px;
  gap: 40px;
  cursor: pointer;
  min-width: 0;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: $gray-70;
}

.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $gray-60;
  font-size: $font-size-medium;

  b {
    color: $gray-70;
  }
}

.difficulty-level {
  color: $gray-70;
  font-size: $font-size-medium;
}

.quiz-title {
  @include text-ellipsis;
  font-size: $font-size-xlarge;
  font-weight: $font-weight-bold;
}

.quiz-tag {
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  width: 62px;
  height: 24px;
  border: none;
  padding: 0 8px;
  border-radius: 4px;
  color: $gray-70;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.study-group-info {
  display: flex;
  align-items: center;
  span {
    color: $gray-90;
    font-size: $font-size-large;
    margin-left: 8px;
  }
}

.study-group-img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.play-quiz-button {
  background-color: $primary;
  color: $gray-00;
  font-size: $font-size-medium;
  width: 100px;
}
