@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.profile-upload-container {
  display: flex;
  flex-direction: column;
  gap: 17.78px;

  .profile-email-container {
    display: flex;
    flex-grow: 1;
    gap: 16px;

    span {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;

      .email {
        font-weight: $font-weight-regular;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
        width: 100%;
        line-height: 1.5;
      }
    }
  }
}

.custom-file-upload {
  display: inline-block;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  overflow: hidden;
  background-color: $gray-30;
  border-radius: $border-radius-xsmall;
  position: relative;
  z-index: -1;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-edit-container {
  @include flex(column);
  flex-grow: 1;
  justify-content: space-between;

  span {
    display: flex;
    gap: 2px;
    align-items: center;
  }
}
.button-container {
  @include flex(column);
  gap: 8px;
}
