@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column);
  width: 70%;
}

.title {
  font-size: 3.2rem;
  font-weight: $font-weight-semibold;
  margin-bottom: 0.8rem;
}

.step-desc {
  font-size: $font-size-large;
  font-weight: $font-weight-regular;
  margin-bottom: 3rem;
}

button.next {
  margin-left: auto;
  width: 15.6rem; // 고정
}

.next-container {
  bottom: 0;
  margin-top: 2rem;
}
