@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column);
  // flex-grow: 5;
  width: 70%;
}

.title {
  font-size: 32px;
  font-weight: $font-weight-semibold;
  margin-bottom: 8px;
}

.step-desc {
  font-size: $font-size-large;
  font-weight: $font-weight-regular;
  margin-bottom: 30px;
}

button.next {
  margin-left: auto;
  width: 156px; // 고정
}

.next-container {
  // position: fixed;
  bottom: 0;
  margin-top: 20px;
}
