@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column);
  gap: 4rem;

  .section {
    &-header {
      @include flex(row);
      justify-content: space-between;

      .title {
        font-weight: $font-weight-regular;
        font-size: 4rem;
      }
    }

    &-content {
      @include flex(row);
      gap: 4rem;
    }
  }
}
