@use "/src/styles/abstracts/" as *;

.container {
  .title {
    font-size: 20px;
    font-weight: $font-weight-bold;
  }
  .rating-difficulty-container {
    @include flex(column, center);
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 16px 0;
    gap: 16px;
    .rating-container {
      display: flex;
      align-items: center;
      gap: 9.57px;
      font-weight: $font-weight-semibold;
      color: $gray-60;
      font-size: $font-size-xlarge;

      .rating-text-container {
        em {
          color: $gray-90;
        }
      }

      .review-count {
        font-size: $font-size-medium;
        color: $gray-60;
      }
    }
  }
}
