@use "/src/styles/abstracts/" as *;

.container {
  .title {
    font-size: 2rem;
    font-weight: $font-weight-bold;
  }
  .rating-difficulty-container {
    @include flex(column, center);
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    padding: 1.6rem 0;
    gap: 1.6rem;
    .rating-container {
      display: flex;
      align-items: center;
      gap: 0.957rem;
      font-weight: $font-weight-semibold;
      color: $gray-60;
      font-size: $font-size-xlarge;

      .rating-text-container {
        em {
          color: $gray-90;
        }
      }

      .review-count {
        font-size: $font-size-medium;
        color: $gray-60;
      }
    }
  }
}
