@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.book-list-filter {
  display: flex;

  gap: 20px;
  ul {
    display: flex;

    button {
      border: none;
      border-radius: 0;
    }
  }
}
