@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.book-list-filter {
  ul {
    display: flex;

    button {
      border: none;
      border-radius: 0;
      color: $gray-60;
    }
    .active {
      color: $gray-90;
    }
  }
}
