@use "/src/styles/abstracts/" as *;

.create-quiz-complete {
  @include flex(column, center);
  .title {
    font-size: 3.2rem;
    font-weight: $font-weight-bold;
  }
  .description {
    font-size: $font-size-large;
    font-weight: $font-weight-regular;
    margin-top: 0.8rem;
  }
  .image {
    margin-top: 2rem;
  }
  .button-container {
    @include flex(row);
    margin-top: 3rem;
    gap: 1.6rem;
  }
}
