@use "/src/styles/abstracts/" as *;

.verification {
  .description {
    margin: 32px 0 32px 0;
    font-size: $font-size-large;
    font-weight: 600;
  }

  .next {
    margin-top: 24px;
  }
  .resend {
    color: $primary;
    margin: 0 auto;
    margin-top: 16px;
    &:disabled {
      background: none;
      border: none;
    }
  }

  .message-container {
    display: flex;
    align-items: center;
  }
}
