@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";

.password-set {
  .description {
    margin: 32px 0 32px 0;
    font-size: $font-size-large;
    font-weight: 600;
    line-height: 1.5;
  }

  .password-check {
    &-desc {
      font-size: 14px;
      line-height: 1.5;
      margin: 32px 0 16px 0;
      font-weight: $font-weight-regular;
    }
  }

  .next {
    margin-top: 32px;
  }
}
