@use "/src/styles/abstracts/" as *;

.password-set {
  .description {
    margin: 32px 0 32px 0;
    font-size: $font-size-large;
    font-weight: 600;
  }

  .password-check {
    &-desc {
      font-size: 14px;
      margin: 32px 0 16px 0;
      font-weight: $font-weight-regular;
    }
  }

  .next {
    margin-top: 32px;
  }
}
