@import "../../../../styles/abstracts/variables";

// TODO : 리펙토링 필요
.checkbox {
  display: none;
}

.label-outlined {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: $font-size-user-auth-agreement-content;
  font-weight: $font-weight-medium;
  color: $gray-90;
  position: relative;
}

/* 체크박스 */
.label-outlined::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid $gray-40;
  border-radius: 4px;
  margin-right: 8px;
}

/* 체크박스 선택 시 */
.checkbox:checked + .label-outlined::before {
  background-color: $primary;
}

.label-none {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: $font-size-user-auth-agreement-content;
  font-weight: $font-weight-medium;
  color: $gray-90;
  position: relative;
}

/* 체크박스 */
.label-none::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
}

  /* 체크박스 선택 시 */
.checkbox:checked + .label-none::before {
  background-color: transparent;
}

.check {
  display: block;
  position: absolute;
  left: 5px;
  top: 6px;
}
