@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.container {
	@include flex(column);
	width: 100%;
	align-items: center;
	gap: 16px;
}

.inner-container {
	@include flex(column);
	width: 100%;
	align-items: end;
	gap: 8px;
}

.footer-btn{
	width: 120px;

	&-container{
	display: flex;
	gap: 20px;
	}
}


