@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column);
  align-items: center;
  margin-bottom: 7.3rem;
}

.inner-container {
  @include flex(column);
  align-items: center;
  width: 100%;
  gap: 1.6rem;
}

.question-area {
  @include flex(column);
  width: 100%;
  align-items: end;
  gap: 0.8rem;
}

.footer-btn {
  display: flex;
  width: 12rem;

  &-container.visible {
    display: flex;
    gap: 2rem;
    @include fadeIn;
  }
}

.slideIn {
  @include slideInY;
}

.answer-description-area {
  @include flex(column);
  width: 100%;
  gap: 1.6rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  background-color: white;
  margin-bottom: 1.6rem;
  @include fadeIn;
}
.answer-description {
  width: 4.6rem;
}

.image-area {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.image {
  object-fit: cover;
  width: 9.75rem;
  height: 10.75rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

// 신고하기 모달
.textarea-container {
  padding: 0 1.6rem;
  margin-top: 0.6rem;
}

.code-input-container {
  width: 34.2rem;
  margin: 0 auto;
}
