@use "/src/styles/abstracts/" as *;

// TODO: 마이페이지 내 스타일 파일 공통으로 쓰기
.container {
  .sub-title {
    font-size: $font-size-subTitle;
    font-weight: $font-weight-semibold;
  }
  .filter-container {
    display: flex;
    justify-content: end;
  }

  .study-list {
    margin-top: 1.6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.6rem;
    column-gap: 10rem;

    &-empty-item {
      height: 16.6rem;
      background-color: transparent;
      border: none;
    }

    .button-container {
      display: flex;
      gap: 2rem;
      padding: 0.8rem 0;
    }
  }
  .loading-spinner {
    margin-top: 3rem;
  }
}
