@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables";

// TODO: 마이페이지 내 스타일 파일 공통으로 쓰기
.container {
  .sub-title {
    font-size: $font-size-subTitle;
    font-weight: $font-weight-semibold;
  }
  .filter-container {
    display: flex;
    justify-content: end;
  }

  .study-list {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 100px;

    &-empty-item {
      height: 166px;
      background-color: transparent;
      border: none;
    }

    .button-container {
      display: flex;
      gap: 20px;
      padding: 8px 0;
    }
  }
  .loading-spinner {
    margin-top: 30px;
  }
}
