@use "/src/styles/abstracts/" as *;

.header-my-info-util {
  &-container {
    position: relative;
  }
}
.profile {
  img {
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: cover;
  }

  h3 {
    margin-left: 0.8rem;
  }
}
