@use "/src/styles/abstracts/" as *;

.book-search-result-item {
  &:hover {
    background-color: $background;
    border-radius: inherit;
  }
  display: flex;
  gap: 0.8rem;
  cursor: pointer;
  padding: 0.8rem 1rem;
  border: 0.15rem solid transparent;
  &-image {
    border: 0.2rem solid $gray-40;
    border-radius: 0.2rem;
  }
  .info-container {
    @include flex(column);
    gap: 0.4rem;
    justify-content: center;

    .title {
      font-weight: $font-weight-medium;
      font-size: 1.4rem;
    }
    .author {
      font-size: 1.4rem;
      font-weight: $font-weight-regular;
      color: $gray-60;
    }
  }
}
.more-result {
  cursor: pointer;
  color: $gray-60;
  font-weight: $font-weight-regular;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  padding: 0.95rem 0.8rem;
  margin-left: auto;
  width: fit-content;
}
