@use "/src/styles/abstracts/" as *;

.complete {
  .description {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: $font-size-large;
  }
  .sub-description {
    color: $gray-70;
    font-size: $font-size-medium;
  }
  .login-button {
    margin-top: 3rem;
  }
  .resend-button {
    padding: 0;
    font-size: $font-size-medium;
    color: $primary;
    height: fit-content;
    border-radius: none;
    margin: 0 auto;
    margin-top: 2rem;
  }
}
