@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

//TODO: option mixin 정의 필요
@mixin basic-radio-button-item {}

@mixin basic-radio-button($default-color, $checked-color) {
	input[type="radio"] {
		margin: 0 8px 0 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 20px;
		height: 20px;
		border-radius: 24px;
		outline: none;
		cursor: pointer;
		border: 2px solid $default-color; // 체크되지 않았을 때의 테두리 색상
	}

	input[type="radio"]:checked {
		margin-right: 8px;
		border: 3px solid white; // 테두리와 원 사이의 색상
		background-color: $checked-color; // 체크 시 내부 원으로 표시될 색상
		box-shadow: 0 0 0 2px $checked-color; // 테두리
	}
}

.option-container {
	@include flex(row);
	align-items: center;
	justify-content: space-between;

	@include basic-radio-button($default-color: $gray-90, $checked-color: $system-success);

	&:focus-within {
		background-color: $background;
	}

	&.option-writing, &.option-written {
		@include basic-radio-button($default-color: $gray-60, $checked-color: $system-success);
	}

	&.option-correct {
		@include basic-radio-button($default-color: $gray-60, $checked-color: $system-success);
		background-color: #3DBF0F1A;
	}

	&.option-default {
		@include basic-radio-button($default-color: $gray-90, $checked-color: $system-success);
	}

	&.option-selected {
		@include basic-radio-button($default-color: $gray-90, $checked-color: $primary);
		background-color: $secondary;
	}

	&.option-incorrect {
		@include basic-radio-button($default-color: $gray-60, $checked-color: $system-danger);
		background-color: #EB003B1A;
	}

	&.full {
		width: 100%;
		height: 100%;
	}
}

.option-label-textarea {
	display: flex;
	border: none;
	padding-top: 8px; //TODO: textarea padding 정의 필요
	border-radius: 0;
	font-size: $font-size-large;
	width: 100%;

	&:focus {
		background-color: $background;
		outline: none;
		border: none;
	}

	&::placeholder {
		font-family: "Pretendard", sans-serif !important;
	}
}

.option-label {
	@include flex(row);
	align-items: center;
	gap: 8px;
	flex: 1;
	width: 100%;
	padding: 10px 16px;
}

.option-label-value {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	font-size: $font-size-large;
}

.delete-option-button {
	border: none;
	padding: 0;
	margin: 0;
	background: none;
}