@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/markdown";

@mixin basic-radio-button($default-border-color) {
  input[type="radio"] {
    margin: 3.5px 0 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 24px;
    outline: none;
    cursor: pointer;
    border: 1.5px solid $default-border-color; // 체크되지 않았을 때의 테두리 색상
    position: relative;
  }
}

.option-container {
  @include flex(row);
  align-items: start;
  border-radius: 8px;
  background-color: white;
  padding: 10px 8px;
  gap: 8px;

  &.full {
    flex: 1;
  }
}

.focused-color {
  background-color: $background;
}

.checked-focused-color {
  background-color: $secondary;
}

.option-label-textarea {
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  border-radius: 0;

  &:focus {
    background-color: $background;
    outline: none;
    border: none;
  }

  &::placeholder {
    font-family: "Pretendard", sans-serif !important;
  }

  &:disabled {
    background-color: $gray-00;
  }
}

.option-writing,
.option-written {
  @include basic-radio-button($default-border-color: $gray-60);
}

.option-selected {
  background-color: $secondary;
  @include basic-radio-button($default-border-color: $gray-90);

  input[type="radio"]:checked {
    border: 3px solid $secondary; // 테두리와 원 사이의 색상
    background-color: $primary; // 체크 시 내부 원으로 표시될 색상
    box-shadow: 0 0 0 2px $primary; // 테두리

    transition:
      background-color 0.5s,
      border 0.5s,
      box-shadow 0.5s;
  }
}

.solving-correct {
  background-color: #3dbf0f1a;

  input[type="radio"] {
    border: none;
    background-color: $system-success; // 체크 시 내부 원으로 표시될 색상
    position: relative;
    top: 4px;

    &::after {
      display: inline-block;
      content: "";
      position: absolute;
      top: -5px;
      left: -4px;
      width: 20px;
      height: 20px;
      background: url("/public/assets/svg/solvingQuizFormLayout/correct.svg")
        no-repeat;
    }
  }
}

.option-default {
  @include basic-radio-button($default-border-color: $gray-60);
}

.solving-incorrect {
  background-color: #eb003b1a;

  input[type="radio"] {
    border: none;
    background-color: $system-danger; // 체크 시 내부 원으로 표시될 색상
    position: relative;
    top: 4px;

    &::after {
      display: inline-block;
      content: "";
      position: absolute;
      top: -5px;
      left: -4px;
      width: 20px;
      height: 20px;
      background: url("/public/assets/svg/solvingQuizFormLayout/incorrect.svg")
        no-repeat;
    }
  }
}

.option-correct {
  background-color: $secondary;
  @include basic-radio-button($default-border-color: $gray-60);

  input[type="radio"]:checked {
    border: none;
    position: relative;
    top: 3.5px;

    &::after {
      display: inline-block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background: url("/public/assets/svg/quizWriteForm/answer.svg") no-repeat;
      transition: all 0.5s;
    }
  }

  .option-label-textarea {
    background-color: $secondary;
  }
}

.option-label {
  @include flex(row);
  align-items: center;
  flex: 1;
  word-break: break-word;
  white-space: pre-line;
}

.empty-icon {
  width: 20px;
  height: 20px;
}

.ox-option {
  height: 26px;
}

.option-label-value {
  font-size: $font-size-large;
  font-weight: $font-weight-regular;
  line-height: 150%;
}

.guide-option-delete-button {
  &:disabled {
    background-color: transparent;
    border: none;
  }
}
