@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables";

section {
	.title {
		font-size: 18px; //TODO 변경 필요
		font-weight: $font-weight-semibold;
	}

	.setting-email {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 16px 0 40px;
	}

	.current-email {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	.change-email {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		gap: 32px;
	}

	.disabled {
		color: $gray-60;
	}

	button {
		padding: 11px 32px;
	}
}

.sr-only {
	@include sr-only;
}