@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.search-book {
  input {
    border-color: $gray-40;
  }
  .selection-list {
    margin-top: 24px;
    height: 276px;
    width: 100%;
    border: 1px solid $gray-40;
    background-color: $gray-00;
    border-radius: $border-radius-medium;
    overflow-y: scroll;
    padding: 16px;
    display: flex;
    flex-direction: column;
    // gap: 12px;
  }
}
.booklist-item {
  display: flex;
  gap: 28px;
  cursor: pointer;
  padding: 20px 16px;
  border: 2px solid transparent;
  &.active {
    border: 2px solid $primary;
    border-radius: $border-radius-medium;
  }

  .info-container {
    @include flex(column);
    gap: 24px;
    justify-content: center;

    .title {
      font-weight: 700;
      font-size: $font-size-xlarge;
    }
    .author {
      font-size: $font-size-large;
      color: $gray-70;
    }
  }
}
