@use "/src/styles/abstracts/" as *;

.container {
  @include flex(row, center);

  &.medium {
    gap: 0.957rem;
  }

  &.small {
    gap: 0.35rem;
  }

  &.gap-30 {
    gap: 3rem;
  }
  &.gap-46 {
    gap: 4.6rem;
  }

  .stars {
    @include flex(row, center);

    &.slideIn {
      @include slideInX;
    }
  }

  .review-type-description {
    font-size: $font-size-large;
    @include fadeIn;
  }

  .non-button {
    cursor: default;
  }
}
