@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";

.container {
  @include flex(row,center);

  &.medium {
    gap: 9.57px;
  }
  &.small {
    gap: 3.5px;
  }

	.review-type-description{
		margin-left: 46px;
		}

  .non-button {
    cursor: default;
  }
}
