@use "/src/styles/abstracts/" as *;

.container {
  @include flex(row, center);

  &.medium {
    gap: 9.57px;
  }

  &.small {
    gap: 3.5px;
  }

  &.gap-30 {
    gap: 30px;
  }
  &.gap-46 {
    gap: 46px;
  }

  .stars {
    @include flex(row, center);

    &.slideIn {
      @include slideInX;
    }
  }

  .review-type-description {
    font-size: $font-size-large;
    @include fadeIn;
  }

  .non-button {
    cursor: default;
  }
}
