@use "/src/styles/abstracts/" as *;

.container {
  @include flex(row);
  align-items: center;
  gap: 2rem;
  @mixin label {
    font-weight: $font-weight-medium;
    font-size: $font-size-medium;
  }

  .level {
    width: 5rem;
    text-align: right;
    @include label;
  }
  .bar {
    background-color: $secondary;
    width: 20rem;
    height: 1.4rem;
    border-radius: 0.4rem;

    .percentage-bar {
      background-color: $primary;
      border-radius: inherit;
      height: 100%;
    }
  }
  .percentage-count-container {
    display: flex;
    gap: 0.6rem;
    @include label;

    .count {
      color: $gray-60;
    }
  }
}
