@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";
.sr-only {
  @include sr-only;
}

.book-list-container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  column-gap: 14px;
  row-gap: 34px;
}
