@use "/src/styles/abstracts/" as *;

.container {
  display: flex;
  border-radius: 6px;
  background-color: $gray-00;
  padding: 20px;
  flex-direction: row;
  gap: 16px;
  height: 280px;

  .left-container,
  .right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .left-container {
    width: 140px;

    .img-container {
      display: flex;
      justify-content: center;
      align-items: start;
      max-height: 210px;

      .img {
        max-width: 140px;
        max-height: 100%;
        border-radius: 6px;
      }
    }
  }

  .right-container {
    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }
    .title {
      @include text-ellipsis;
      font-size: $font-size-large;
      font-weight: $font-weight-semibold;
      min-width: 0;
      width: 220px;
    }
    .copy-link {
      padding: 4px;
      margin-top: -4px;
      margin-right: -4px;
    }

    .profile {
      @include flex(row, center);
      justify-content: start;
      gap: 8px;
      margin-top: 8px;

      &-images-container {
        display: flex;

        .z-index-1 {
          z-index: 3;
        }
        .z-index-2 {
          z-index: 2;
          margin-left: -8px;
        }
        .z-index-3 {
          margin-left: -8px;
        }
      }

      &-image {
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
      }
      &-nickname {
        font-size: $font-size-small;
        font-weight: $font-weight-regular;
      }
    }

    .description {
      margin-top: 8px;
      // margin-top: 4px;
      color: $gray-70;
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
      @include text-ellipsis(5);
    }

    .button-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.grade-result-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.date-container {
  @include flex(row, center);
  gap: 4px;
  position: relative;
  height: fit-content;

  .date {
    color: $gray-60;
    font-size: 12px;
    font-weight: $font-weight-regular;
    text-align: center;
    margin-top: 0;
  }

  .tooltip {
    right: -15px;
    top: 30px;
    // top: 30px;
    // top: 0;
    // right: 0;
  }
}
