@use "/src/styles/abstracts/" as *;
// TODO 코드 파악하고 use로 변경 필요
@import "../../components/QuizItem/quiz_item.module";

.right-container {
  .secondary-label {
    background-color: $secondary;
    width: fit-content;
    color: $primary;
    border-radius: 3.2px;
    font-size: 13px;
    font-weight: $font-weight-medium;
    padding: 0 4.8px;
  }
}
.button-container {
  .delete {
    text-decoration: underline;
    text-underline-offset: 2px;
    height: 18px;
    width: fit-content;
    color: $gray-70;
    font-weight: $font-weight-regular;
    font-size: 14px;
    margin: 0 auto;
  }
}
.creator-profile {
  @include flex(row, center);
  justify-content: start;
  gap: 8px;
  font-size: 12px;
  font-weight: $font-weight-regular;

  .profile {
    border-radius: 50%;
  }
}
