@use "/src/styles/abstracts/" as *;
// TODO 코드 파악하고 use로 변경 필요
@import "../../components/QuizItem/quiz_item.module";

.right-container {
  .secondary-label {
    background-color: $secondary;
    width: fit-content;
    color: $primary;
    border-radius: 0.32rem;
    font-size: 1.3rem;
    font-weight: $font-weight-medium;
    padding: 0 0.48rem;
  }
}
.button-container {
  .delete {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    height: 1.8rem;
    width: fit-content;
    color: $gray-70;
    font-weight: $font-weight-regular;
    font-size: 1.4rem;
    margin: 0 auto;
  }
}
.creator-profile {
  @include flex(row, center);
  justify-content: start;
  gap: 0.8rem;
  font-size: 1.2rem;
  font-weight: $font-weight-regular;

  .profile {
    border-radius: 50%;
  }
}
