@use "/src/styles/abstracts/" as *;

.container {
  @include flex(column);
}

.input {
  margin-bottom: 4rem;
}

.input-area {
  margin-bottom: 4rem;
}

.title {
  font-size: 1.8rem;
  font-weight: $font-weight-semibold;
  margin-bottom: 1.6rem;
}

.btn-next {
  align-self: end;
  width: 15.6rem;
}
