@import "../../../../../styles/abstracts/mixins";
@import "../../../../../styles/abstracts/variables";

.container {
  @include flex(column);
}

.input {
  margin-bottom: 40px;
}

.input-area {
  margin-bottom: 40px;
}

.title {
  font-size: 18px;
  font-weight: $font-weight-semibold;
  margin-bottom: 16px;
}

.btn-next {
  align-self: end;
  width: 156px;
}
