@use "/src/styles/abstracts/" as *;

.quiz-basic-info {
  &-form-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &-description {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &-length {
      display: flex;
      font-size: $font-size-small;
      color: $gray-60;
      justify-content: flex-end;
    }
  }
}

.max-length {
  display: flex;
  font-size: $font-size-small;
  color: $gray-90;
  justify-content: flex-end;
}
