@use "/src/styles/abstracts/" as *;

.no-data {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px 0;
  border-radius: 8px;

  p {
    font-weight: $font-weight-regular;
    font-size: $font-size-large;
    color: $gray-70;
  }

  button {
    width: 200px;
  }
}
