@use "/src/styles/abstracts/" as *;

.email-notification {
  font-size: 1.4rem;
  color: $gray-70;
  margin-bottom: 1.6rem;
}

.study-group {
  width: 100%;
  padding: 1.6rem;
  border-radius: $border-radius-medium;
  background-color: $gray-00;
  @include flex(row, center);
  justify-content: space-between;
  margin-bottom: 1.6rem;
  cursor: pointer;
  border: 0.15rem solid $gray-40;

  .profile-container {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: $font-size-xlarge;
    color: $gray-90;

    .profile {
      border-radius: 50%;
      background-color: $gray-30;
      height: 3rem;
      width: 3rem;
    }
  }
}
.selected {
  border-color: $primary;
}

.input-button-container {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 2rem;
}
