@use "/src/styles/abstracts/" as *;

.header-menu-list {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.12);
  background-color: $gray-00;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #d8d8d8;
  z-index: 1;
  width: 24rem;

  li {
    &:hover {
      background-color: $gray-10;
    }
  }
}

.user {
  &-info-btn {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 0.8rem;
    width: 100%;
    text-align: left;

    border-radius: 0.6rem 0.6rem 0 0;
    border-bottom: 0.1rem solid $gray-40;
  }
  &-nickname-container {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $gray-90;
    display: flex;
    gap: 0.4rem;

    .user-nickname {
      @include text-ellipsis;
      max-width: 11rem;
    }
  }
}

.logout {
  @include flex(row, center);
  width: 100%;
  font-size: 1.4rem;
  font-weight: $font-weight-regular;
  padding: 0.8rem 0;
  height: fit-content;
  border-radius: 0 0 0.6rem 0.6rem;
  border-top: 1px solid $gray-40;
  color: $gray-60;
}

.header-menu-list-item {
  display: flex;
  width: 100%;
  line-height: 1.5;
  justify-content: start;
  padding: 0.6rem 0.8rem;
  height: fit-content;
  border-radius: 0.6rem;
  font-size: 16px;
  font-weight: $font-weight-regular;
  color: $gray-90;
}
