@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables";

.list-section {
  @include flex(column);
  gap: 16px;

  .quiz-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-width: 816px;
  }
}

.list-header {
  @include flex(row);
  justify-content: space-between;

  .sub-title {
    font-size: $font-size-subTitle;
    font-weight: $font-weight-semibold;
  }

  .button-area {
    @include flex(row);
  }
}
