@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables";

.list-section {
  @include flex(column);
  gap: 16px;

  .quiz-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    max-width: 816px;
  }

  .quiz {
    @include flex(column);
    justify-content: start;
    gap: 10px;
    padding: 16px;
    background-color: white;
    width: 192px;
    border-radius: 5px;

    .info {
      @include flex(column);
      gap: 14px;

      // 책의 크기가 달라 container의 높이를 지정하고 이미지는 넓이만 지정하여 위로 올라오게 함
      .img-container {
        @include flex(column);
        justify-content: end;
        align-items: center;
        height: 194.4px;

        img {
          max-width: 140px;
          height: 100%;
        }
      }

      .sub-info {
        @include flex(column);
        gap: 4px;
      }

      .label {
        display: inline-block;
        width: 65px;
        padding: 2px 5px;
        font-size: 12px;
        font-weight: $font-weight-medium;
        color: $gray-70;
        background-color: $secondary;
        border-radius: 3.2px;
      }

      .quiz-updated-at {
        font-size: 12px;
        font-weight: $font-weight-regular;
      }

      .quiz-name {
        font-size: $font-size-large;
        font-weight: $font-weight-semibold;
        padding-bottom: 19px;
      }
    }

    .util {
      @include flex(column);
      justify-content: start;
      gap: 7px;

      .delete {
        text-decoration: underline;
        height: 18px;
        color: $gray-60;
        font-weight: $font-weight-regular;
        font-size: 12px;
      }
    }

    img {
      border: 1px solid $gray-40;
      border-radius: 5px;
    }
  }
}

.list-header {
  @include flex(row);
  justify-content: space-between;

  .sub-title {
    font-size: $font-size-subTitle;
    font-weight: $font-weight-semibold;
    line-height: 1.5;
  }

  .button-area {
    @include flex(row);
  }
}
