@use "/src/styles/abstracts/" as *;

.list-section {
  @include flex(column);
  gap: 1.6rem;

  .quiz-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    max-width: 81.6rem;
  }
}

.list-header {
  @include flex(row);
  justify-content: space-between;

  .sub-title {
    font-size: $font-size-subTitle;
    font-weight: $font-weight-semibold;
  }

  .button-area {
    @include flex(row);
  }
}
