@use "/src/styles/abstracts/" as *;

.send-temporary-password {
  .description {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: $font-size-large;
  }

  form {
    margin: 0;

    input {
      border-color: $gray-40;
    }

    .message-container {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }

    .send-temporary-password-button {
      margin-top: 3rem;
    }
  }
}
