@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixins";

.send-temporary-password {
  h3 {
    @include sr-only;
  }
  .description {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: $font-size-large;
  }

  form {
    margin: 0;

    input {
      border-color: $gray-40;
    }

    .message-container {
      display: flex;
      align-items: center;
      gap: 3px;
    }

    .send-temporary-password-button {
      margin-top: 30px;
    }
  }
}
