@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.container {
  display: flex;

  .full,
  &.full {
    flex: 1;
  }
}

.textarea {
  @include textarea-base;
  @include input-base;
  line-height: 1.5;

  &--error {
    box-shadow: 0 0 0 2px $system-danger;
  }

  &--large {
    font-size: $input-font-large;
    padding: $textarea-padding-large;
  }
  &--medium {
    font-size: $input-font-medium;
    padding: $textarea-padding-medium;
  }
  &--small {
    font-size: $input-font-small;
    padding: $textarea-padding-small;
  }
}

.message-container {
  margin-top: 12px;
}

.char-count {
  color: $gray-60;
  font-size: $font-size-small;
  float: right;

  em {
    color: $gray-70;
  }

  &-max-length {
    color: $gray-90;
  }
}
