@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.container {
  display: flex;
  flex-direction: column;

  .full,
  &.full {
    width: 100%;
  }
}

.textarea {
  @include input-base;
  @include textarea-base;
  line-height: 1.5;

  &--error {
    box-shadow: 0 0 0 2px $system-danger;
  }

  &--large {
    font-size: $input-font-large; // 17px
    padding: $textarea-padding-large;
  }
  &--medium {
    font-size: $input-font-medium; // 17px
    padding: $textarea-padding-medium;
  }
  &--small {
    font-size: $input-font-small; // 15px
    padding: $textarea-padding-small;
    // height: 51px;
  }
}

.option-label {
  font-size: 17px;
  padding: 0;
  border: none;
}

.message-container {
  margin-top: 12px;
}

.char-count {
  color: $gray-60;
  font-size: $font-size-small;
  float: right;

  em {
    color: $gray-90;
  }

  &-max-length {
    color: $gray-90;
  }
}
