@use "/src/styles/abstracts/" as *;

.guide-bubble {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  .guide {
    position: relative;
    background-color: $gray-00;
    font-weight: $font-weight-medium;
    border-radius: 1.2rem;
    padding: 1.4rem 1.6rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    .inner-container {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
    &-step {
      background-color: $gray-20;
      color: $gray-60;
      font-size: $font-size-medium;
      margin-right: 0.8rem;
      height: 3.2rem;
      width: 4.4rem;
      border-radius: 0.6rem;
      @include flex(row, center);
      em {
        color: $primary;
      }
    }
    em {
      color: $primary;
    }
  }
  .down-arrow {
    width: 1.4re;
    height: 1rem;
    background-color: $gray-00;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
