@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.container {
  @include flex(row);
  gap: 40px;
}

.prevent-leave-modal-content {
  justify-self: start;
  white-space: pre-line;
}